coverage
node_modules
build
.idea
.DS_Store
packages/experiments
tmp
/packages/furo-open-models/test-results/
/packages/furo-open-models/test/unit_tests/__screenshots__/
/packages/furo-open-models/*.tgz
